.CommentBoxContainer
{
    list-style: none;
    margin: 5px;
    padding: 5px;
    width: 530px;
    font: 1.1em monospace;
    color: #666;
}
.CommentBoxContainer LI
{
    margin-bottom: 10px;
}
.CommentBox:hover
{
    background: #f8fbfb;
}
.CommentBox
{
    border: 1px solid #E1DAE0;
    margin-top: 2px;
    float: left;
    width: 550px;
}
.BoxEven
{
    /*background-color: #F1F1F1;*/
}
.CommentBox .image
{
    margin: 5px 15px 5px 5px;
    float: left;
    border: 0;
}
.CommentBox .Info
{
    margin-top: 3px;
    width: 100%;
    text-align: right;
}
.CommentBox .Like
{
    float: left;
    width: auto;
    color: #023d79;
    cursor: pointer;
    padding-bottom: 10px;
}
.CommentBox .reply
{
    float: left;
    width: 40px;
    margin-left: 10px;
    color: #023d79;
    cursor: pointer;
    padding-bottom: 10px;
}

.CommentBox .Comment
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    font: 1.1em "Trebuchet MS";
    width: 100%;
    float: none;
}
.CommentBoxContainer .label
{
    font: normal 1em sans-serif;
    margin: 5px;
}
.CommentNewBox
{
    margin: 5px;
}
.CommentNewBoxContainer
{
    background: #FAF9F9;
    height: auto;
    padding-bottom: 5px;
    border: 1px solid #EBE5E5;
    width: 550px;
}
.CommentNewBoxContainer .image
{
    margin-right: 5px;
    float: left;
}
.CommentBoxContainer .clear
{
    clear: both;
    float: none;
}
.submitComment, .submitComment:focus
{
    border: 1px solid #CCC;
    padding: 5px;
    cursor: pointer;
    color: #555;
    font: 1em Tahoma;
}
.CommentInputBox
{
    border: 1px solid #EFE5E5;
    min-height: 82px;
    width: 470px;
    padding: 5px;
    color: #5D5555;
    font: 1em Tahoma;
}
.ButtonContainer
{
    text-align: right;
    margin: 5px 0 5px 5px;
}
.ErrorInfo, #flash
{
    display: none;
}
.image img
{
    width: 50px;
    height: 50px;
    border: 0;
}
.txtarea
{
    float: left;
    width: 470px;
}
.likeImg, .dislike
{
    display: none;
}
